models/
*.pt
*.bin
*.safetensors
__pycache__/
.env
*.pyc
*.pyo
venv/
.venv/
env/
.Python
*.db
logs/
.vscode/
.idea/
*.sqlite
*.sqlite3

models/*.pth
models/*.json
models/*.pkl
models/distilbert_logs/

.DS_Store
.vscode/
.idea/

*.log
